__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
Build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.vscode/
.idea/
